html, body {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

div.score {
	font-family: Arial;
	font-size: 25px;
	min-height: 35px;
}

div.score span.X {
	color: #ff5555;
}

div.score span.O {
	color: #85ff55;
}

div.score {
	color: #fff;
}

div.grid {
	width: 300px;
	height: 300px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
}

div.grid div.col {
	width: calc(33% - 0px);
	height: calc(33% - 0px);
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	font-size: 40px;
}
		